[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = http://git.drupal.org/project/features.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = http://git.drupal.org/project/devel.git
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
[submodule "sites/all/modules/ckeditor"]
	path = sites/all/modules/ckeditor
	url = http://git.drupal.org/project/ckeditor.git
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = http://git.drupal.org/project/token.git
[submodule "sites/all/modules/special_menu_items"]
	path = sites/all/modules/special_menu_items
	url = http://git.drupal.org/project/special_menu_items.git
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = http://git.drupal.org/project/pathauto.git
[submodule "sites/all/modules/libraries"]
	path = sites/all/modules/libraries
	url = http://git.drupal.org/project/libraries.git
[submodule "sites/all/modules/block_class"]
	path = sites/all/modules/block_class
	url = http://git.drupal.org/project/block_class.git
[submodule "sites/all/modules/imce"]
	path = sites/all/modules/imce
	url = http://git.drupal.org/project/imce.git
[submodule "sites/all/modules/node_export"]
	path = sites/all/modules/node_export
	url = http://git.drupal.org/project/node_export.git
[submodule "sites/all/modules/telephone"]
	path = sites/all/modules/telephone
	url = http://git.drupal.org/project/telephone.git
[submodule "sites/all/modules/link"]
	path = sites/all/modules/link
	url = http://git.drupal.org/project/link.git
[submodule "sites/all/modules/email"]
	path = sites/all/modules/email
	url = http://git.drupal.org/project/email.git
[submodule "sites/all/modules/features_extra"]
	path = sites/all/modules/features_extra
	url = http://git.drupal.org/project/features_extra.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = http://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = http://git.drupal.org/project/date.git
[submodule "sites/all/modules/views_php"]
	path = sites/all/modules/views_php
	url = http://git.drupal.org/project/views_php.git
[submodule "sites/all/modules/print"]
	path = sites/all/modules/print
	url = http://git.drupal.org/project/print.git
