[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = http://git.drupal.org/project/features.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = http://git.drupal.org/project/devel.git
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
[submodule "sites/all/modules/ckeditor"]
	path = sites/all/modules/ckeditor
	url = http://git.drupal.org/project/ckeditor.git
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = http://git.drupal.org/project/token.git
[submodule "sites/all/modules/special_menu_items"]
	path = sites/all/modules/special_menu_items
	url = http://git.drupal.org/project/special_menu_items.git
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = http://git.drupal.org/project/pathauto.git
[submodule "sites/all/modules/libraries"]
	path = sites/all/modules/libraries
	url = http://git.drupal.org/project/libraries.git
