# Ignore configuration files that may contain sensitive information.
/webroot/sites/*/settings*.php

# Ignore paths that contain user-generated content.
/webroot/sites/*/files
/webroot/sites/*/private

# Ignore the following directories
.vagrant
/log/
/puppet/environment/development/modules_contrib/
/webroot/sites/all/themes/custom/sample_theme/asset/